-----BEGIN PRIVATE KEY-----
MIIJQgIBADANBgkqhkiG9w0BAQEFAASCCSwwggkoAgEAAoICAQDogC7eEWLUZNwp
KbFewi8hK/1GRAgRuAOfAd84vm61jRRckDXp/LosH7sF70pcrUJjlnajk9Ur3S4H
RB47MvXIzKbATKQK+jhg86nBcjp4FeeKMHbZQt8peYbnGw/B4YJJU1K2OmHBidAA
cARrGIatCKOaen6Bny/dt5QPLUbeSFbdcwWRpDOd3hVyNUhCXcRtmQ5lXx5NDRHA
8VQRMf6VUbi1ohPGI/1FwFeuR5VCqiPuvNyHBef2uAuH5tEfthyZA2xqIYoyU9FQ
Eh9WCxBHnkSjThcaddS28UEg+MKBjjpkNhLIrzYU59KyImYttdrZoSk55Yu893Jx
o/a3pSR/zS1lJxHa685s7QWEipW3dxDblJG9hxOKR6BT70TCcNahov8CZNgPb9Gu
cQByuLJY1jK6AeRcEKaN5PS7V270aZsQt4FfkmXgigzzicvESPQniorQKTK9CCm5
jyYdtdTBCJdiJ44pEJ7EPuL6cA+20FV6j2jDTnpl5dDc0N6bdhxk66MVLUwyi+1+
/22LB/8aITO0En/A0rq2Z0DfDaaHlxBatyP5mBMdLpY2QTwh0vZbVvR3qwkglvRk
1xHXkdvTbasoLmsC5B+yEw7Q3LLcX0HLAIQ57o5kLENAZYw0ril3RjHfYRrSvfMY
qvvaBYzfM60lC4bK4Raqn+N0VbizZQIDAQABAoICAQCm5Py/o7NRy2TOl4MfBj1W
joEso0E3luPijDF0Rh6qbC8lks9gu23Ypp5V0EOM60Iwwp0/Jqtq5UZZKOiajiYo
kd9RQrKuvpch4UcF+b1G3lJqvAdURdBzsSzJUH+rKPmhMRK6hIYPq6GH7uD9D4n9
Q6pNBYkx+tcdTN4XVuT8Quk35Y0l0rzKodS7Osw39589HRVcZz8VCECqQ5GZFk4t
WZBBsaqIHOV94GgQTooyZHeOtDuJIRA15j9Aust6+/rjS7XTKWhOYCRsWdXsqdxx
zIZww2mKMPMUr3GU/XyCC1qW/MnXDQ7BSvfPrymxvkzu0+UIDmKUrvuT36MGiKD9
TkQwFI/14CDM5ErhoDSp+X50rm4vTONQzejdstBKeuFA8b9hW8FJ3M+H0T+7EtLI
BbfU+HXhAL8+YIuwn2M9tWhJkFy79P74mLtzI4a1gCpFEphDwJJ98+plE7SvvQGI
cjxPM2rPdW28lLSVx2fCaQz6gCTcge1L3pD5gQAjdc77lPavegMblGodmpDn7sIN
GIp7QgxdXSzucfsJvEnQJKOtayNEmm93BEDuOejtaI//R8RGCMEPlc1g6PXW6bYm
4V/Q6F9vHVM0HFPZkehusJ/uO7aJmPdTMAIwYzIsMhdkzVYZsKKXi7vb4FDmIXSK
aFbYreU5M6UBsw3Cuo4kAQKCAQEA9U1NRRFIgtX6KPoZzJsEKoiG7jmrc+aju7+v
N4Z1FH+JK5eA7RWcMH9ToopIjjvypgw4M52C+o6bqTkYQnc0TdJkIDEpuTTaVF8m
JdplaD1wzfam9W3dY4o+CFzdxHmH54+5FYm5cpiHzdrqHlAGlM85F/KaQ88edgfB
Lez+Nnd7kK4d0L+GaIMwYTd+t7TWaTKePGQjShkiTuvXQc20mE/WDVMdXXkTDRV0
ULlR7W4kgEj0zMderr1XgNWiUXXIvWu5q6DrApPg9df0MNXW9mVmWu97c1eRlsui
AvDTwF6qjEC0anuxr4l7d8tA+HtX+o85Tc3gOiWVSICr6QuGJQKCAQEA8qP14QAw
SNmOOsi2fuiDYNxGChX/r9xan1P3Y9fT4mdbOxYq+JVMAxXRUqHkf37Z2rzx50sK
gSnSUwMigpYev06yxPInbeiTU2mFN5JrAg/SEjPJSvtoWPsz4V7E82rSdL27fJOw
lw1uFBSnOp+/HdwKlhdL++xPAySBsMdRmSLeaCgz+nnKuS8L9tUFBghVYRz90xsp
VXdwnvlOdIVS/h8ry7P/sxpIMJDfkgwklVXYuE7AuVhfEepEAKIIuBEl1ZXEtOUW
RCMs/pw931/m6JMWrgtNDpIcqPwRXzgackR7gp3fEbhE1A8Q6V/L/pQ3mFygKZw7
mSxNvSuuaVHUQQKCAQAvjeHZ7uTQwGyzvvB7ct3W5QrLahCr8l1xi1KLgBx4cdUE
x2UuEQ9rc3OiQg6YzFRZDmtizjlTG4xfvPrP/836/Dt+5ikBh5Z/3sZFdlZMZATX
WOa7E6Zkoqst8droOOs43+rwmveBmMJTDQpv//GWramS0+xGEwQDu7MelSAfLQCe
ZrLPAiIrZqtdXWXKdVtPn4l/iaYxujeldyEO17MYB/omMSOzOEKSOcOH1rVkQwL+
f6Y9gLUBSSGKj1/dTOkyl4yyEgsdP8/PuSLUyM/YioXSQTT8glBuHGH3EfrrAy8q
62xObFZhAlUWPygEQ90lbNieFbhPbXPIT3GER0ClAoIBAAcvrfeU/tkZgGnjSexm
TIXQ4E4qKqF1wEVZwkj1unPJJd2RIYKtQUwSGFn/K3pPMnqVAAEeqtf6eh01SY9e
jNiTpx3IIjzSF5Lv3B8yOfMcrtcVK5AJ9CQ2hGnXWbPv5P3KJMRix2ch4bG8jttg
odNrkfCyDfEPJaPtL94heRw0+StSjX+MneFwMEWGN5jfJFA1AJuBAW9jkzVSIu22
iSe3mp903EzcqWiu0cBMlcTKfxmuU2zp3h70tkDii6mP8HPr9KB67HbmJ83+qKJ1
/6vBt3k+InEdCLZEiOsuCTJ7LsFGlbW7pGY3cAPJb4xBrYfYrnGtC+LUehTxN0At
SUECggEAYN6aj49sMCuUWldohwFcL7ABju4cQd7d3WijiEDJw6GcvM5N3bHQG6Ui
uR1unplBfT0epR8AJXGiHUEC/ADdT1zGdrmHiLbKWPbtI0lc3iQdAXg2VdxvyrHb
Nb7MnfHfYyzFdA24QcYVi3Qe6VrP6cOWOr1O/JjYNCC/mYOnMmNQhGILWLDDyTqG
sOtChmVWBzfRqehv0IpvQqtCu2euBk7/bquDneT5D9OGxGvR7063c2Gs1y4ggRDe
luc2hREnvhGvGHU8w1p9qtwsoAHctHW2F2/x1BuDawBJEnUGijqvL8NIR1PHHcsV
2GFc6ttqMGfL5gnJEURClYHSELpZ7w==
-----END PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
MIIFXTCCA0WgAwIBAgIJAPmi84aKmXdlMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
BAYTAnBsMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBX
aWRnaXRzIFB0eSBMdGQwHhcNMTYwOTAzMTkwNjUwWhcNMTcwOTAzMTkwNjUwWjBF
MQswCQYDVQQGEwJwbDETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50
ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIIC
CgKCAgEA6IAu3hFi1GTcKSmxXsIvISv9RkQIEbgDnwHfOL5utY0UXJA16fy6LB+7
Be9KXK1CY5Z2o5PVK90uB0QeOzL1yMymwEykCvo4YPOpwXI6eBXnijB22ULfKXmG
5xsPweGCSVNStjphwYnQAHAEaxiGrQijmnp+gZ8v3beUDy1G3khW3XMFkaQznd4V
cjVIQl3EbZkOZV8eTQ0RwPFUETH+lVG4taITxiP9RcBXrkeVQqoj7rzchwXn9rgL
h+bRH7YcmQNsaiGKMlPRUBIfVgsQR55Eo04XGnXUtvFBIPjCgY46ZDYSyK82FOfS
siJmLbXa2aEpOeWLvPdycaP2t6Ukf80tZScR2uvObO0FhIqVt3cQ25SRvYcTikeg
U+9EwnDWoaL/AmTYD2/RrnEAcriyWNYyugHkXBCmjeT0u1du9GmbELeBX5Jl4IoM
84nLxEj0J4qK0CkyvQgpuY8mHbXUwQiXYieOKRCexD7i+nAPttBVeo9ow056ZeXQ
3NDem3YcZOujFS1MMovtfv9tiwf/GiEztBJ/wNK6tmdA3w2mh5cQWrcj+ZgTHS6W
NkE8IdL2W1b0d6sJIJb0ZNcR15Hb022rKC5rAuQfshMO0Nyy3F9BywCEOe6OZCxD
QGWMNK4pd0Yx32Ea0r3zGKr72gWM3zOtJQuGyuEWqp/jdFW4s2UCAwEAAaNQME4w
HQYDVR0OBBYEFP6Nl/Az+fkTP7YTrE7Ix7TA5914MB8GA1UdIwQYMBaAFP6Nl/Az
+fkTP7YTrE7Ix7TA5914MAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIB
ACFLkh5N1TYrtnjzDuNzPXXh+j70ZeqwJZ0LnfKtBOJJVEoeCQQIgPNbVjjFSzI1
FqBbd0dc54av0rAJoJWmKRPekBEJvFjA/Z2MU5hvHsV6Tw8ZPR/kWXVD+UCOHv9L
HwOYA5rwbpP2gbvIJzOClQBmdGhRVW3xwe9yk4R8QWEJ2qX7u6KR36gvVCoBX2bQ
4LZpr6oi9O2mijuzjJiBoluJ6NeIWNC/Ai7mC1bW6K5Hk9w39Al5gDNoGqxcyw3P
44nBy9nfYOW4GHO5vUjeMzAGaXaPXWdjrEEFi4XReSpILGE79T1kYmILyipEpP0p
yG+nG8MIo3eA3tHvNkErBGPdrXxmOlLCIBOejNBfWJsJr7PdHr6ePuIRCxCkqx70
rw/NLiRUF6cI7RwVoLONpbTQ0xjFhZ0yZ69n3enZX40ktbm2CkmxXc4NxXNzCan+
6kav+PRO447+/rXgchEN6sa8YhSCXL4ZbQ/4lxZxSFx3VRUL7t+1CddVJaLcLyB+
PMY9ozYuWLQjjGbVkP1+P9heImgQ3yQo1N03iy/UyS4BA26yAgi/E9GeIZCaVCOg
Tc4iYfPGE+THcHaskBfa6nGsPJjvs6rlvXbtx+CD35RtCguPfHBZUL6ILOAN7HX6
/yP801oiS5TpFGQnlPOEZARPStxo/7jYq2/9/N66QDgl
-----END CERTIFICATE-----
